/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #FFFEF8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1500px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

.container__hm {
	margin: 0 auto;
	max-width: 1290px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	text-transform: uppercase;
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
	padding-top: 6px;

}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding-left: 40px;
	font-size: 1.2em;
}

nav a {
	text-decoration: none;
    color: inherit;
}

header {
	display: flex;
	flex-direction: column;
}

/*elements login logout*/
header .logout {
	display: none;
}

/*element pour fiar disparaitre
tous les element de edition*/

/*mode edition ajoute avec javascrip 
style.display"block"*/
.block__edition {
	display: none;
}


.block {
	display: block;
}

.mode__edition {
	display: flex;
	justify-content: center;
	padding: 20px 30px;
	background-color: black;
	color: white;
	gap: 15px;
	font-weight: 300;
}




.mode__edition i {
	color: white;
	font-size: 1em;
}
/*mode edition*/



.menu__container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 30px;
	
}

li:hover {
	color: #B1663C;
}

nav li img {
	width: 20px;
}

#introduction {
	display: flex;
	align-items: center;
	margin: 140px 0;
	padding: 0 130px;
}
#introduction figure {
	flex: 1;
}
#introduction img {
	display: block;
	/*margin: auto;*/
	width: 100%;
}

#introduction article {
	flex: 1;
	margin: 0 0px 0 80px;
	
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 2em;
}
#portfolio h2 {
	/*text-align: center;*/
	/*margin-bottom: 1.9em;*/
}

/*code*/
#portfolio {
	padding: 0 130px;
}

.mes__projets {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 50px;
	gap: 35px;
}

/*mode edition ajoute avec javascrip 
style.display"block"*/
.edition {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-top: 8px;
	
}
.edition i {
	font-size: 1.2em;
}

.edition a {
	text-decoration: none;
	color: inherit;
}
/*fin du mode edition*/


.tri__container {
	display: flex;
	/*attention comportement bizarre
	avec une espece de tratition*/
	/*margin: 50px 0;*/
	
}

.tri {
	margin: 0 auto;
	display: flex;
	gap: 13px;
}

.tri li {
	border: 1px solid #1D6154;
	color: #1D6154;
	font-family: 'Syne';
	border-radius: 20px;
	padding: 10px 25px;
	font-size: 1.2em;
	font-weight: 600;
	/*le parametre va marche si les propietes son combines*/
	transition: color 0.4s, background-color 0.4s;
	cursor: pointer;
}

.tri li:hover {
	background-color: #1D6154;
	color: white;
}


.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	transition: all 0.5s ease-in-out;
	margin-top: 50px;
}

.gallery img {
	width: 100%;

}


/*figure .fade-out {
	opacity: 0;
	transition: opacity 0.5 ease-in-out;
}*/

/*Login*/


#contact {
	width: 35%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	background-color: white;
	display: flex;
	justify-content: flex-end;
	/*margin: 2em*/
	padding: 25px 100px 25px 0;
}

#imageUpload .error__message {
	color: red;
	text-align: center;
	margin: 10px 0;
}

